## Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe.

- Importació de les llibreries y móduls necessaris:

In [1]:
import pandas as pd
import numpy as np
import os

- Carrega’l a un pandas Dataframe.

  *Data set Airlines Delay:*

In [2]:
delayedFlights = pd.read_csv('DelayedFlights.csv')
delayedFlights.head(3)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN

  *Data set airlines:*

In [3]:
airlines = pd.read_csv('airlines.csv') 
airlines.head(3)

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.

- Explora les dades que conté: Data set Airlines Delay

In [4]:
print(f'Dataset Delayed Flights:\nNumber of rows {delayedFlights.shape[0]}\nNumber of columns {delayedFlights.shape[1]}\nNumber of missing values {sum(delayedFlights.isna().sum())} ')

Dataset Delayed Flights:
Number of rows 1936758
Number of columns 30
Number of missing values 3486389

In [5]:
delayedFlights.columns.values

array(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek',
       'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier',
       'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime',
       'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance',
       'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'], dtype=object)

In [6]:
delayedFlights.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

- Explora les dades que conté: Data set Airlines

In [7]:
print(f'Dataset Code Aircraft:\nNumber of rows {airlines.shape[0]}\nNumber of columns {airlines.shape[1]}\nNumber of missing values {sum(airlines.isna().sum())} ')

Dataset Code Aircraft:
Number of rows 14
Number of columns 2
Number of missing values 0

In [8]:
airlines.dtypes

IATA_CODE    object
AIRLINE      object
dtype: object

- Queda’t únicament amb les columnes que consideris rellevants.

Esborrem les columnes:

In [9]:
delayedFlights.drop(['FlightNum', 'TailNum', 'ArrTime', 'CRSArrTime', 'CRSElapsedTime', 
         'TaxiIn', 'TaxiOut', 'DepTime', 'CRSDepTime', 'CarrierDelay', 
         'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ], 
        axis = 'columns', inplace=True)

Canviem els noms de les columnes de Delayed Flights:

In [10]:
old_col_names = list(delayedFlights.columns)
new_col_names = ["NA","ANY", "MES", "DIA", "DIA_SET", "COD_AEROLINIA", "DURADA_TOTAL", "DURACIÓ DEL VOL", 
                 "RETARD ARRIBADA", "RETARD SORTIDA", "COD_ORIGEN", "COD_DESTI", "DISTANCIA", 
                 "CANCELAT", "COD_CANCELACIO", "DESVIAT" ]

replace = dict(zip(old_col_names, new_col_names))
delayedFlights.rename(columns=replace, inplace=True)
delayedFlights.sample(3)

,NA,ANY,MES,DIA,DIA_SET,COD_AEROLINIA,DURADA_TOTAL,DURACIÓ DEL VOL,RETARD ARRIBADA,RETARD SORTIDA,COD_ORIGEN,COD_DESTI,DISTANCIA,CANCELAT,COD_CANCELACIO,DESVIAT
218444,693433,2008,2,29,5,WN,66.0,53.0,3.0,7.0,MSY,HOU,303,0,N,0
1114616,3712736,2008,7,25,5,XE,131.0,118.0,13.0,24.0,IAH,SAV,851,0,N,0
1480997,5131453,2008,9,30,2,DL,108.0,84.0,9.0,26.0,MIA,ATL,595,0,N,0

Canviem els noms de les columnes de Airlines:

In [11]:
old_col_names = list(airlines.columns)
new_col_names = ["COD_AEROLINIA","NOM_AEROLINIA"]

replace = dict(zip(old_col_names, new_col_names))
airlines.rename(columns=replace, inplace=True)
airlines.sample(3)

   COD_AEROLINIA         NOM_AEROLINIA
13            VX        Virgin America
9             DL  Delta Air Lines Inc.
2             US       US Airways Inc.

Per a mapejant el data data set Delayed Fights i Airlines, funsionant totes dues

In [12]:
delayedFlightsT = pd.merge(delayedFlights, airlines, on='COD_AEROLINIA')

In [13]:
delayedFlightsT.head(3)

,NA,ANY,MES,DIA,DIA_SET,COD_AEROLINIA,DURADA_TOTAL,DURACIÓ DEL VOL,RETARD ARRIBADA,RETARD SORTIDA,COD_ORIGEN,COD_DESTI,DISTANCIA,CANCELAT,COD_CANCELACIO,DESVIAT,NOM_AEROLINIA
0,0,2008,1,3,4,WN,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,N,0,Southwest Airlines Co.
1,1,2008,1,3,4,WN,128.0,113.0,2.0,19.0,IAD,TPA,810,0,N,0,Southwest Airlines Co.
2,2,2008,1,3,4,WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,N,0,Southwest Airlines Co.

## Exercici 2

Informe complet del data set:.

- Resumeix estadísticament les columnes d’interès

In [14]:
delayedFlights[["DURADA_TOTAL", "DURACIÓ DEL VOL", "DISTANCIA"]].describe()

       DURADA_TOTAL  DURACIÓ DEL VOL     DISTANCIA
count  1.928371e+06     1.928371e+06  1.936758e+06
mean   1.333059e+02     1.082771e+02  7.656862e+02
std    7.206007e+01     6.864261e+01  5.744797e+02
min    1.400000e+01     0.000000e+00  1.100000e+01
25%    8.000000e+01     5.800000e+01  3.380000e+02
50%    1.160000e+02     9.000000e+01  6.060000e+02
75%    1.650000e+02     1.370000e+02  9.980000e+02
max    1.114000e+03     1.091000e+03  4.962000e+03

- Troba quantes dades faltants hi ha per columna
- Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
- Taula de les aerolínies amb més endarreriments acumulats
- Quins són els vols més llargs? I els més endarrerits?

## Exercici 3

Exporta el data set net i amb les noves columnes a Excel.